name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [x64, arm64]
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install dependencies with pnpm
      run: npm_config_target_arch=${{ matrix.arch }} pnpm install

    - name: Run bundle
      run: pnpm run bundle

    - name: Create or Update GitHub Release
      run: |
        gh release create ${{ github.ref }} \
          ./$BUILD_TARGET-${{ matrix.arch }}/bundle \
          --title "Release ${{ github.ref }}" \
          --repo ${{ github.repository }} \
          --notes "Release notes for ${{ github.ref }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
        
    - name: Transform OS and Arch
      run: echo "BUILD_TARGET=$(echo "${{ matrix.os }}" | sed 's/ubuntu-latest/linux/;s/windows-latest/win/;s/macos-latest/mac/')" >> $GITHUB_ENV

    - name: Build for target OS and Arch
      run: npm run build:$BUILD_TARGET-${{ matrix.arch }}

    - name: Get Release upload URL
      id: get_upload_url
      run: |
        UPLOAD_URL=$(gh release view ${{ github.ref }} --json upload_url -q '.upload_url' || echo "")
        echo "UPLOAD_URL=${UPLOAD_URL}" >> $GITHUB_ENV

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ env.UPLOAD_URL }}
        asset_path: ./$BUILD_TARGET-${{ matrix.arch }}/bundle
        asset_name: clone-$BUILD_TARGET-${{ matrix.arch }}
        asset_content_type: application/octet-stream
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
