name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.get_upload_url.outputs.upload_url }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create GitHub Release
      run: |
        gh release create ${{ github.ref }} \
          --title "Release ${{ github.ref }}" \
          --notes "Release notes for ${{ github.ref }}"
      env:
        GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}

    - name: Get Upload URL
      id: get_upload_url
      run: |
        UPLOAD_URL=$(gh release view $(basename ${{ github.ref }}) --json uploadUrl -q '.uploadUrl')
        echo "::set-output name=upload_url::$UPLOAD_URL"
      env:
        GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  build-and-release-ubuntu:
    needs: prepare-release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install dependencies with pnpm
      run: pnpm install -f

    - name: Run bundle
      run: pnpm run bundle

    - name: Build for Ubuntu and Arch
      run: npm run build:linux-${{ matrix.arch }}

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ needs.prepare-release.outputs.upload_url }}
        asset_path: ./linux-${{ matrix.arch }}/bundle
        asset_name: clone-linux-${{ matrix.arch }}
        asset_content_type: application/octet-stream

  build-and-release-macos:
    needs: prepare-release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install dependencies with pnpm
      run: pnpm install -f

    - name: Run bundle
      run: pnpm run bundle

    - name: Build for macOS and Arch
      run: npm run build:mac-${{ matrix.arch }}

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ needs.prepare-release.outputs.upload_url }}
        asset_path: ./mac-${{ matrix.arch }}/bundle
        asset_name: clone-mac-${{ matrix.arch }}
        asset_content_type: application/octet-stream

  build-and-release-windows:
    needs: prepare-release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install dependencies with pnpm
      run: pnpm install -f

    - name: Run bundle
      run: pnpm run bundle

    - name: Build for Windows and Arch
      run: npm run build:win-${{ matrix.arch }}

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ needs.prepare-release.outputs.upload_url }}
        asset_path: ./win-${{ matrix.arch }}/bundle.exe
        asset_name: clone-win-${{ matrix.arch }}.exe
        asset_content_type: application/octet-stream
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
